.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: aqua;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style-type: inherit;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: inherit;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.page-header {
  position: relative;
}

.page-header--mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .page-header__btn {
    display: none;
  }
}

.page-header__btn--close {
  display: none;
}
.page-header__btn.is-open .page-header__btn--close {
  display: block;
}

.page-header__btn.is-open .page-header__btn--open {
  display: none;
}

.site-nav--mobile {
  padding: 48px 40px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .site-nav--mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .site-nav--mobile.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .site-nav--mobile {
    display: flex;
  }
}

.logo--footer, .logo--header {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo--accent {
  color: #2196F3;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}

.logo--black-theme {
  display: inline-block;
  color: #FFFFFF;
}

.hero {
  padding: 118px 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #2F303A;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././img/hero-mobile.jpg);
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.portfolio-filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  color: #212121;
  background: #F5F4FA;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-work__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-work__item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(33.3333333333% - 30px);
  background-color: #FFFFFF;
}

.portfolio-work__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-work__link:hover, .portfolio-work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-work__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-work__overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-work__link:hover .portfolio-work__overlay {
  transform: translateY(0);
}

.portfolio-work__descr {
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

.portfolio-work__content {
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-work__subtitle {
  margin-bottom: 6px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-work__text {
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.social-media__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link--dark-theme, .social-media__link--light-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link--dark-theme:hover, .social-media__link--light-theme:hover, .social-media__link--dark-theme:focus, .social-media__link--light-theme:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social-media__link--light-theme {
  color: #AFB1B8;
}

.social-media__link--dark-theme {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-right: 4px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196F3;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__label--policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

.modal__input {
  display: block;
  margin-top: 4px;
  padding: 11px 42px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196F3;
}
.modal__input:focus + .modal-icon {
  fill: #2196F3;
}

.modal__input--placeholder {
  margin-bottom: 20px;
  padding: 11px 12px;
  resize: none;
}
.modal__input--placeholder::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--placeholder:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--placeholder::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkmark {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(.././img/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.modal__checkmark {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal__link--accent {
  margin-left: 4px;
  color: #2196F3;
}

.modal__submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-btn:hover, .modal__submit-btn:focus {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */