.backdrop {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;

    transition: opacity $duration $timing-function,
        visibility $duration $timing-function;
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    padding: 40px;

    background: $background;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (max-width: $mobile) {
            width: 100%;
        }

    @media screen and (min-width: $desktop) {
        width: 528px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-right: 4px;

    width: 30px;
    height: 30px;

    background: $background;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill $duration $timing-function;

    &:hover,
    &:focus {
        fill: $acent-color;
    }
}

.modal__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
}

.modal__label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

   &--policy {
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 12px;
        line-height: 1.17;
        margin-bottom: 30px;

        @media screen and (min-width: $desktop) {
            font-size: 14px;
            line-height: 1.71;
        }
    }
}

.modal__input {
    display: block;
    margin-top: 4px;
    padding: 11px 42px;
    width: 100%;

    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color $duration $timing-function;

    &:focus {
        border-color: $acent-color;
    }

    &:focus+.modal-icon {
        fill: $acent-color;
    }
}

.modal__input--placeholder {
    margin-bottom: 20px;
    padding: 11px 12px;
    resize: none;

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: background-color $duration $timing-function;
}

.modal__checkbox:checked+.modal__checkmark {
    border-color: $acent-color;
    background-color: $acent-color;
    background-image: url(.././img/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
}

.modal__checkmark {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid $title-text-color;
    border-radius: 4px;


}

.modal__link--accent {
    margin-left: 4px;
    color: $acent-color;
}

.modal__submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
    min-width: 200px;

    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    background: $acent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color $duration $timing-function;

    &:hover,
    &:focus {
        background-color: $secondary-accent-color;
    }
}