%section-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28x;
    line-height: 1.17;
    text-align: center;
    color: $title-text-color;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;

        font-size: 36px;
    }
}

.doings__title,
.team__title,
.customer__title {
    @extend %section-title;
}