.customer__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
        margin: 0;
    }
}

.customer__item {
        
    @media screen and (max-width: $mobile) {
        flex-basis: 100%;
        margin: 15px;
    }
    
    @media screen and (min-width: $mobile) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }

    @media screen and (min-width: $desktop) {       
        margin: 0;

        &:not(:last-child) {
            margin-right: 29px;
        }
    }
}

.customer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 92px;
    color: $main-icon-color;
    border: 1px solid $main-icon-color;
    border-radius: 4px;
    
    transition: color $duration $timing-function,
        border-color $duration $timing-function;

    &:hover,
    &:focus {
        color: $acent-color;
        border-color: $acent-color;
    }

    @media screen and (min-width: $mobile) {       
        width: 210px;
    }

    @media screen and (min-width: $tablet) {       
        width: 226px;
    }
    
    @media screen and (min-width: $desktop) {       
        width: 170px;
    }

}

.customer__icon {
    fill: currentColor;
}